@page "/courses/{Id}"
@using System.IO
@using Microsoft.Extensions.Logging
@inject ILogger<CourseView> Logger

<h3>@_choiceCourse?.GetName()</h3>
<p>@_choiceCourse?.GetTeacher()</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Student student in _choiceCourse.GetStudents())
        {
           <tr>
               <td>@student.GetName()</td>
               <td>@student.GetAddress()</td>
               <td>@student.GetPhoneNumber()</td>
               <td>@student.GetAge()</td>
               <td>@student.GetGender()</td>
               <td><a class="btn btn-primary" href="/student/@student.GetId()">View</a></td>
           </tr>
        }
    </tbody>

</table>

@code {
    [Parameter]
    public string Id { get;set; }
    private AppManager _app;
    private Course _choiceCourse;
    public CourseView()
    {
        _app = new AppManager();
        _choiceCourse = new Course();
    }
    protected override async Task OnInitializedAsync()
    {
        _choiceCourse = await _app.FindCourseById(Id);
    }
    


}
