<tr>
    <td>@StudentElement.GetName()</td>
    <td>@StudentElement.GetAddress()</td>
    <td>@StudentElement.GetPhoneNumber()</td>
    <td>@StudentElement.GetAge()</td>
    <td>@StudentElement.GetGender()</td>
    <td><a class="btn btn-primary" href="/student/@StudentElement.GetId()">View</a></td>
</tr>

@code {

    [Parameter]
    public Student? StudentElement { get; set; }

    
}
